/* layout.css should contain general positioning on the page
Apply to elements such as header, footer, nav, aside
Classes and IDs can be included here */


/*************************************************************/
/************************* Overall ***************************/
/*************************************************************/

div{
  margin: auto;
  text-align: center;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
